@model CategoryVM

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>All Categories</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Parent Categories</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="category" asp-action="add">Add Category</a>
                                </div>
                            </li>
                        </ul>

                        <div class="clearfix"></div>

                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Display Index</th>
                                                <th>Transactions</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (Category c in Model.Categories)
                                            {
                                                @if (c.ParentID == null)
                                                {
                                                    <tr>
                                                        <td>@c.Name</td>
                                                        <td>@c.DisplayIndex</td>
                                                        <td>
                                                            <a asp-controller="category" asp-action="edit" asp-route-id="@c.ID"><i class="fa-regular fa-pen-to-square" style="color:blue"></i></a>
                                                            &nbsp
                                                            <a asp-controller="category" asp-action="delete" asp-route-id="@c.ID"><i class="fa-solid fa-trash-can" style="color: red"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Sub Categories</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="category" asp-action="add">Add Category</a>
                                </div>
                            </li>
                        </ul>

                        <div class="clearfix"></div>

                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Parent Category Name</th>
                                                <th>Display Index</th>
                                                <th>Transactions</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (Category c in Model.Categories)
                                            {
                                                @if (c.ParentID != null)
                                                {
                                                    <tr>
                                                        <td>@c.Name</td>
                                                        <td>@c.ParentCategory.Name</td>
                                                        <td>@c.DisplayIndex</td>
                                                        <td>
                                                            <a asp-controller="category" asp-action="edit" asp-route-id="@c.ID"><i class="fa-regular fa-pen-to-square" style="color:blue"></i></a>
                                                            &nbsp
                                                            <a asp-controller="category" asp-action="delete" asp-route-id="@c.ID"><i class="fa-solid fa-trash-can" style="color: red"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
